.viewer-2d {
    &-wrapper {
        position: relative;
    }
    &__img {
        max-height: 90vh
    }
    &__canvas {
        position: absolute; top:0; left: 0; width: 100%; height: 100%;  
    }
    .canvas-disactive {
        position: absolute; top:0; left: 0; width: 100%; height: 100%;
    }
    .canvas-btn.active {
        color: blue;
    }
}